<link rel="stylesheet" href="/css/style.css">
<div class="nav">
    
    <a href="/"><button> Home</button></a>
    <a href="/register"><button> Registration</button></a>
    <a href="/login"><button>Login </button></a>

</div>